body {
    font-family: "Karla";
    color: darkgray;
    margin: 0;
    padding: 0;
}
nav ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
header {
    background-color: #FF5A5F;
    height: 80px;
}
#logo {
    height: 80px;
}
nav {
    display: inline-block;
    float: right;
}
nav li {
    display: inline-block;
    margin-left: 40px;
    line-height: 80px;
}
nav a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}
nav a:hover {
    color: white;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
}
.content {
    width: 900px;
    margin: auto;
}
section {
    padding: 30px;
    border: 1px solid lightgray;
    margin-bottom: 25px;
}
section img {
    width: 400px;
}
h1 {
    font-size: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}
h2 {
    font-size: 24px;
}
section p {
    font-size: 18px;
}