html {
    margin: 0px;
}

body {
    margin: 0px;
}

#profile-pic {
    border-radius: 50%;
    overflow: hidden;
}

#follow-button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 5px;
    float: right;
}

.item {
    width: 120px;
    height: 120px;
    margin: 5px;
}

.row {
    margin-bottom: 10px;
}

.navbar-item {
    margin: 10px;
}

.item:hover {
    opacity: 1.0;
    transition-duration: 200ms;
}

#follow-button:active {
    transform: scale(1.05);
}

.navbar-item:hover {
    opacity: 1.0;
}

#follow-button, .navbar-item, .item:hover {
    cursor: pointer;
}
